:root {
  --main-bg-color: #fff;
  --dark-bg-color: #1f2830;
  /* --dark-bg-color: #0b2132; */
  /* --dark-bg-color: #031929; */
  --main-color: #028afe;
  --hover-color: #0d6efd;
}

html {
  font-family: "Roboto", sans-serif;
}

.dark {
  background-color: var(--dark-bg-color);
}

h1 {
  font-size: calc(1.5rem + 1.5vw);
}
h2 {
  font-size: calc(1.35rem + 0.9vw);
}
h3 {
  font-size: calc(1.32rem + 0.6vw);
}

p {
  opacity: 0.65;
}

span.identifier {
  opacity: 0.65;
  font-size: 0.9rem;
}

.main-btn {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-width: 1.5px;
  padding: 13px 33px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main-btn-outline {
  color: var(--main-color);
  border-color: var(--main-color);
  border-width: 1.5px;
  padding: 13px 33px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main-btn-outline.active,
.main-btn-outline:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

/* navbar */
.dark .navbar {
  background-color: var(--dark-bg-color) !important;
}

.navbar .nav-link {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: var(--main-color);
}

.logo {
  width: 120px;
}

.navbar-toggler {
  color: var(--main-color);
  font-size: 20px;
  border-color: var(--main-color);
}

.dark .navbar-toggler {
  color: #fff;
  font-size: 20px;
  border-color: #fff;
}

.dark .nav-link {
  color: #fff;
}

.theme-toggler .icon {
  height: 20px;
  cursor: pointer;
}

.theme-toggler {
  width: 25px;
  color: var(--main-color);
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 0 10px;
}

.theme-toggler:active {
  border: 2px solid #0d6efd;
  border-radius: 0;
}

.dark .theme-toggler {
  color: #fff;
}

.theme-toggler.active,
.theme-toggler:hover {
  color: var(--hover-color);
}

/* about */
.about p {
  width: 540px;
}

/* reviews */
.reviews {
  background-image: url("./../assets/jan-kopriva-IfHAeNOOGQ0-unsplash.jpg");
  background-size: cover;
}

.reviews .overlay {
  background-color: var(--dark-bg-color);
  opacity: 0.85;
}

.reviews .advantages .advantage-item {
  width: 100px;
  background-color: rgb(0, 0, 0, 0.35);
}

.reviews .advantages .advantage-item .icon {
  font-size: 50px;
  color: #fff;
}

.reviews .advantages > .flex-column:nth-of-type(even) {
  margin-top: 80px;
}

.reviews .advantages .advantage-item .title {
  font-size: 0.65rem;
  margin-bottom: -15px;
  color: var(--main-color);
}

.reviews .advantages .advantage-item .number {
  font-size: 3rem;
}

.reviews .carousel-item p {
  opacity: 1;
}

.reviews .carousel-item .profile .profile-picture {
  width: 50px;
}

.reviews .carousel-control {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.reviews .carousel-inner .carousel-item p {
  min-height: 11rem;
}

.reviews .carousel-control.carousel-control-prev {
  background-color: rgb(255, 255, 255, 0.85);
  color: #000;
}

.reviews .carousel-control.carousel-control-prev:hover {
  background-color: rgb(255, 255, 255, 1);
}

.reviews .carousel-control.carousel-control-prev:focus {
  background-color: rgb(255, 255, 255, 1);
  border: 2px solid #0d6efd;
}

.reviews .carousel-control.carousel-control-next {
  background-color: var(--main-color);
  color: #fff;
}

.reviews .carousel-control.carousel-control-next:hover {
  background-color: var(--hover-color);
}

.reviews .carousel-control.carousel-control-next:focus {
  background-color: var(--hover-color);
  border: 2px solid #fff;
}

.reviews .carousel-control .icon {
  font-size: 15px;
}
